:root{
  --primaryDarkBackGroundColor : #090908 ;
  --secondDarkBackGroundColor : #7d8484;
  --darTextColor : #d6dbdd ;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body{
  background-color: var(--primaryDarkBackGroundColor);
  color: var(--darTextColor);
  background-image: url('/Logo.png') ;
  background-position: center;      
  background-size: contain;           
  background-repeat: no-repeat;     
  background-attachment: fixed;   
}

@keyframes slideFromBottom {
  from{
      opacity: 0;
      transform: translateY(100px);
  }
  to{
      opacity: 1;
      transform: translateY(0);
  }
}


@keyframes SlideFromLeft{
  from{
      opacity: 0;
      transform: translateX(-100px);
  }to{
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes SlideFromRight {
  from{
      opacity: 0;
      transform: translateX(20px);
  }
  to{
      opacity: 1;
      transform: translateX(0);
  }
}

.animateFromBottom{
  opacity: 1;
  animation: slideFromBottom 1s ease-in-out;
}
.animateFromLeft{
  opacity: 1;
  animation: SlideFromLeft 1s ease-in-out;
}
.animateFromRight{
  opacity: 1;
  animation: SlideFromRight 1s ease-in-out;
}
